*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif;
    margin: 0;
    background-image: url("../html-css-ljerez/media1/fondo-color.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.c1{color:blue;}

.contacto{
    color:white;
    padding: 10px;
    font-size: 30px;
    text-align:center;
    font-weight: bold;
}

.contacto h1{
    font-style: oblique;
    font-weight: bold;
}

.form-registrer{
    width: 400px;
    background-color: rgba(24,30,3);
    padding: 50px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px rgba(0,0,0);
}

.form-registrer h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    background-color:rgba(24,30,3);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 3px solid rgba(232, 28, 28, 0.642);
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form-registrer .botons{
    width: 100%;
    background-color: blue;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.form-registrer .botons:hover{
    background-color: black;
}

@media (min-width: 720px){
    header .contacto{
        flex-direction: row;
        justify-content: space-between;
        font-size: 3.5em;
    }

}




